.main {
font-family: var(--font-light);
background-color: var(--color-dark);
color: var(--color-bright);
height: 100vh;
}

.main .container { 
display: flex;
flex-direction: column;
text-align: center;
width: 60%;
}

.main__result {
width: 100%;
color: var(--color-dark);
font-family: var(--font-medium);
font-size: 1.5rem;
background-color: var(--color-bright);
margin: 1em 0;
}


/* ====================================
                BUTTON
======================================= */

.btn {
display: inline-block;
font-family: var(--font-medium);
font-size: 1rem;
padding: 0.7em 2em;
cursor: pointer;
}

.btn--color {
color: var(--bright-color);
border: 1px solid var(--third-color);
background-color: var(--third-color);
transition: all 0.2s ease;
}
    
.btn--color:hover {
transform: translate(5px, -5px);
box-shadow: var(--third-color) 0px 0px 0px 0px inset,
var(--dark-color) -5px 5px 0px -1px, var(--third-color) -5px 5px;
}