/* ====================================
                HEADER
======================================= */

header {
  text-align: center;
}

.logo {
  width: 7em;
  cursor: pointer;
  margin: 3em;
}

/* ====================================
              EXPLAIN
======================================= */

.explain {
  background-color: var(--color-dark);
  color: var(--color-bright);
  font-family: var(--font-light);
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 5em;

  &__question {
    font-family: var(--font-medium);
    font-size: 1rem;
    margin: 1em 0 0.2em 0;
  }
  
  &__title {
    font-family: var(--font-semibold);
    font-size: 2rem;
    margin: 0.2em 0 1em 0;
    // border: 1px solid var(--color-bright);
    // border-radius: 10px;
    padding: 0.3em;
  }
}

/* ====================================
                EXAMPLES
======================================= */

.examples {
  color: var(--color-third);
  border: 1px dashed var(--color-third);
  border-radius: 10px;
  padding: 2em;
  margin-bottom: 2em;
  max-width: 55em;
  margin: 0 auto;

  &__title {
    font-family: var(--font-semibold);
    margin-bottom: 1em;
  }

  &__item {
    font-family: var(--font-light);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-bright);
    list-style-type: decimal; 
    list-style-position: inside;
    text-align: left;
  }
}

/* ====================================
                FORM
======================================= */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/images/tv-green.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 20em 0;
  height: 55em;
}

textarea {
  background-color: #000201;
  text-align: center;
  width: 60em;
  height: 30em;
  margin: 0 auto;
  border: none;
}


/* ====================================
                BUTTON
======================================= */

.btn {
  display: inline-block;
  font-family: var(--font-semibold);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.7em 2em;
  margin-top: 2em;
  width: 20em;
border-radius: 10px;
  cursor: pointer;
}

.btn--color {
  color: var(--bright-color);
  border: 1px solid var(--color-third);
  background-color: var(--color-third);
  transition: all 0.2s ease;
}
    
.btn--color:hover {
  transform: translate(5px, -5px);
  box-shadow: var(--color-third) 0px 0px 0px 0px inset,
  var(--color-dark) -5px 5px 0px -1px, var(--color-third) -5px 5px;
}

/* ====================================
                RESULT
======================================= */

.result {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  color: var(--color-dark);
  font-family: var(--font-light);
  line-height: 1.5;
  
  &__item {
    text-align: left;
    padding: 1em 1em;
    background-color: var(--color-bright);
    margin-bottom: 1em;
    border-radius: 5px;
    animation-name: result-appear;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

    &__wrapper {
    display: flex;
  }

  &__title {
    padding: 0.5em 0;
    width: 25%;
    font-family: var(--font-medium);
    font-size: 0.8rem;
  }

  &__text {
    padding: 0.5em 0 0.5em 1em;
    width: 75%;
  }
}

@keyframes result-appear {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

  /* ====================================
              MEDIA QUERY
  ======================================= */

@media only screen and (min-width: 48em) {

  .result {
    &__item {
      padding-left: 2em;
      padding-right: 2em;
    }
  
    &__title {
      font-size: 1rem;
      width: 20%;
    }
  
    &__text {
      padding-left: 0;
      width: 80%;
    }
  }
}
  